<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\logs\internalLog.txt">

	<targets>
		<target xsi:type="Database"
				name="dbDetails"
				
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="Server=localhost;Port=5432;Database=society;Username=postgres;Password=postgres;">
			<commandText>
				INSERT INTO log (created_on, severity, message, exception, logger)
				VALUES (@time_stamp::timestamp, @severity, @message, @exception, @logger);
			</commandText>
			<parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fffffff}" />
			<parameter name="@severity" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=Tostring}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="off" final="true" />
		<logger name="*" minlevel="Trace" writeTo="dbDetails" />
	</rules>
</nlog>